/* src/App.css */
.app-container {
  display: flex;
  background-color: #1e1e1e;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

.main-content {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 20px;
}
